.body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
    background: lightskyblue;
}

.header {
    height: 45px;
    background: lightblue;
    color: black;
    font-size: 32px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 0px 16px; 
}
.header1 {
    height: 35px;
    background: lightblue;
    color: black;
    font-size: 32px;
    font-weight: 900;
    display: flex;
    justify-content: space-between;
    padding: 0px 8px;
    margin: 8px;
}
.footer {
  height: 50px;
  background: lightblue;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  font-family: 'Courier New', Courier, monospace;
}
img {
  width: 150px;
  height: 150px;
}
.pc-games, .mobile-games  {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  flex-shrink: 0;
  padding: 8px;
  margin: 10px;
  border: 1px solid lightpink;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
}
.games {
  font-weight: 200;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 10px;
  padding: 8px;
}
.game-container {
  display: flex;
  justify-content: space-between;
}
.current-games, .next-games {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  flex-shrink: 0;
  padding: 8px;
  margin: 10px;
  border: 1px solid lightgreen;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
}
.games1 {
  font-weight: 200;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 10px;
  padding: 8px;
}